.yv-form-factory__wrapper {
  ::v-deep.el-form-item {
    margin-bottom: 0;
  }
  .yv-form-factory__date-range {
    ::v-deep.el-input {
      width: 140px;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      font-size: 14px;
      color: #666;
    }
  }
}
