
$--color-white: #ffffff !default;
$--color-black: #000000 !default;


$header-text-color: $--color-white;
$footer-text-color: $--color-white;
$body-text-color: $--color-black;

$bg: $--color-white;
$header-bg: #2e303f;
$footer-bg: #2e303f;

$header-border-color: #3b444e;
$footer-border-color: #3b444e;
$at-nav-border-color: #3b444e;

$primary-color: #4251b6;

$max-width: 1200px;
